/* laptop */
@media screen and ( max-width: 1364px){
    
}
/* tablet */
 @media screen and ( max-width: 1024px){
  #banner-content{
    flex-direction: column;
  }
  #will-content{
    flex-direction: column-reverse;
    margin: auto;
    }
.video-box{
    width: 100%;
    margin:auto ;
  }
#target-cards{
  flex-direction: column;
}
 /* mobile */
 @media screen and ( max-width: 640px) {
   #banner-content{
    flex-direction: column;
   }
    #will-content{
    flex-direction: column-reverse;
    margin: auto;
  }
  .video-box{
    width: 100%;
    margin:auto ;
  }
    } 
    
